@charset "UTF-8";
.modal-wrapper {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-wrapper .my-modal {
  padding: 32px;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  border-radius: 6px;
  background: var(--primary-bg-color);
  color: var(--medium-grey);
}
.modal-wrapper .my-modal .invalid-input {
  outline: 1px solid red;
  position: relative;
}
.modal-wrapper .my-modal .invalid-input::after {
  position: absolute;
  left: 2px;
  top: 50%;
  content: "Can’t be empty";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.modal-wrapper .my-modal.edit-task-modal .input {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  padding: 8px 16px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
  border-radius: 4px;
}
.modal-wrapper .my-modal.edit-task-modal .input:focus {
  outline: 1px solid var(--main-purple);
}
.modal-wrapper .my-modal.edit-task-modal .edit-modal-title {
  color: var(--clear-text);
  font-size: 18px;
  font-weight: 700;
}
.modal-wrapper .my-modal.edit-task-modal .edit-modal-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.modal-wrapper .my-modal.edit-task-modal .edit-modal-text.input {
  height: 112px;
}
.modal-wrapper .my-modal.edit-task-modal .input-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  color: var(--label);
}
.modal-wrapper .my-modal.edit-task-modal .selector-label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  color: var(--label);
}
.modal-wrapper .my-modal.edit-task-modal .selector {
  height: 40px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
}
.modal-wrapper .my-modal.edit-task-modal .selector:focus {
  outline: 1px solid var(--main-purple);
}
.modal-wrapper .my-modal.edit-task-modal .save-btn {
  height: 40px;
  border-radius: 20px;
  background: var(--main-purple);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  border: 0px;
  color: var(--white-text);
}
.modal-wrapper .my-modal.edit-task-modal .save-btn:hover {
  background-color: var(--main-purple-hover);
}
.modal-wrapper .my-modal.edit-board-modal .input {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  padding: 8px 16px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
}
.modal-wrapper .my-modal.edit-board-modal .input:focus {
  outline: 1px solid var(--main-purple);
}
.modal-wrapper .my-modal.edit-board-modal .board-cols {
  margin-bottom: 12px;
}
.modal-wrapper .my-modal.edit-board-modal .board-cols .input {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  padding: 8px 16px;
  width: 385px;
}
.modal-wrapper .my-modal.edit-board-modal .edit-board-modal-title {
  color: var(--clear-text);
  font-size: 18px;
  font-weight: 700;
}
.modal-wrapper .my-modal.edit-board-modal .input-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  color: var(--label);
}
.modal-wrapper .my-modal.edit-board-modal .scroll-columns {
  max-height: 300px;
  overflow: auto;
}
.modal-wrapper .my-modal.edit-board-modal .add-btn {
  height: 40px;
  border-radius: 20px;
  background: var(--secondary-btn);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  border: 0px;
  color: var(--main-purple);
}
.modal-wrapper .my-modal.edit-board-modal .add-btn:hover {
  background-color: var(--secondary-btn-hover);
}
.modal-wrapper .my-modal.edit-board-modal .save-btn {
  height: 40px;
  border-radius: 20px;
  background: var(--main-purple);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  border: 0px;
  color: var(--white-text);
}
.modal-wrapper .my-modal.edit-board-modal .save-btn:hover {
  background-color: var(--main-purple-hover);
}
.modal-wrapper .my-modal.task-modal .task-modal-title {
  color: var(--clear-text);
  font-size: 18px;
  font-weight: 700;
}
.modal-wrapper .my-modal.task-modal .dots-button {
  cursor: pointer;
  position: relative;
  padding: 0px;
  width: 4.615px;
  height: 20px;
  background-color: var(--primary-bg-color);
  color: var(--medium-grey);
  border: 0px;
}
.modal-wrapper .my-modal.task-modal .dots-button .menu {
  position: absolute;
  width: 120px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  top: 70px;
  left: -30px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
}
.modal-wrapper .my-modal.task-modal .dots-button .menu .edit {
  text-align: left;
  color: var(--medium-grey);
  background-color: inherit;
  border: 0px;
}
.modal-wrapper .my-modal.task-modal .dots-button .menu .delete {
  color: var(--red);
  text-align: left;
  background-color: inherit;
  border: 0px;
}
.modal-wrapper .my-modal.task-modal .dots-button .menu .delete:hover {
  color: var(--red-hover);
}
.modal-wrapper .my-modal.task-modal .task-modal-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.modal-wrapper .my-modal.task-modal .task-modal-subtasks-title {
  font-size: 12px;
  font-weight: 700;
}
.modal-wrapper .my-modal.task-modal .selector-label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  color: var(--medium-grey);
}
.modal-wrapper .my-modal.task-modal .selector {
  height: 40px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
  outline: 1px solid rgba(130, 143, 163, 0.25);
  border: 0;
}
.modal-wrapper .my-modal.task-modal .selector:focus {
  border: 1px solid var(--main-purple);
}
.modal-wrapper .my-modal.delete-modal {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  border-radius: 6px;
  background: var(--primary-bg-color);
}
.modal-wrapper .my-modal.delete-modal .title {
  font-size: 18px;
  font-weight: 700;
  color: var(--red);
}
.modal-wrapper .my-modal.delete-modal .delete-btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: var(--white-text);
  background: var(--red);
  border: 0px;
}
.modal-wrapper .my-modal.delete-modal .delete-btn:hover {
  background-color: var(--red-hover);
}
.modal-wrapper .my-modal.delete-modal .cancel-btn {
  width: 200px;
  font-size: 13px;
  height: 40px;
  font-weight: 700;
  line-height: 23px;
  border: 0px;
  text-align: center;
  border-radius: 20px;
  color: var(--main-purple);
  background-color: var(--secondary-btn);
}
.modal-wrapper .my-modal.delete-modal .cancel-btn:hover {
  background-color: var(--secondary-btn-hover);
}
.modal-wrapper .my-modal.add-task-modal .input {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  padding: 8px 16px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
  border-radius: 4px;
}
.modal-wrapper .my-modal.add-task-modal .input:focus {
  outline: 1px solid var(--main-purple);
}
.modal-wrapper .my-modal.add-task-modal textarea.input {
  height: 112px;
}
.modal-wrapper .my-modal.add-task-modal .add-task-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}
.modal-wrapper .my-modal.add-task-modal .add-task-modal-title {
  color: var(--clear-text);
  font-size: 18px;
  font-weight: 700;
}
.modal-wrapper .my-modal.add-task-modal .input-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  color: var(--label);
}
.modal-wrapper .my-modal.add-task-modal .create-btn {
  height: 40px;
  border-radius: 20px;
  background: var(--main-purple);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  border: 0px;
  color: var(--white-text);
}
.modal-wrapper .my-modal.add-task-modal .create-btn:hover {
  background-color: var(--main-purple-hover);
}
.modal-wrapper .my-modal.add-task-modal .selector-label {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  color: var(--label);
}
.modal-wrapper .my-modal.add-task-modal .selector {
  height: 40px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background-color: var(--primary-bg-color);
  color: var(--clear-text);
}
.modal-wrapper .my-modal.add-task-modal .selector:focus {
  outline: 1px solid var(--main-purple);
}

@media only screen and (max-width: 768px) {
  .modal-wrapper .my-modal {
    padding: 24px;
    width: 343px;
  }
  .modal-wrapper .my-modal.delete-modal .btn-wrapper {
    flex-direction: column;
  }
  .modal-wrapper .my-modal.delete-modal .btn-wrapper .delete-btn {
    width: auto;
  }
  .modal-wrapper .my-modal.delete-modal .btn-wrapper .cancel-btn {
    width: auto;
  }
  .modal-wrapper .my-modal.delete-modal .btn-wrapper :first-child {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=modals.css.map */