@import "./features/header/header.css";
@import "./features/sidebar/sidebar.css";
@import "./features/board/board.css";

:root {
  --primary-bg-color: #ffff;
  --secondary-bg-color: #f4f7fd;
  --white-text: #fff;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --medium-grey: #828fa3;
  --black: black;
  --lines-light: #e4ebfa;
}

.App {
  min-height: 100vh;
  position: relative;
  background-color: var(--secondary-bg-color);
}
